modules = ["nodejs-24"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "API Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=8080 pnpm --filter @workspace/api-server run dev"
waitForPort = 8080

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=22710 BASE_PATH=/ pnpm --filter @workspace/exampro run dev"
waitForPort = 22710

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
MONGODB_URI = "mongodb+srv://davidcyril209:85200555dcx@david.sfonwmo.mongodb.net/?retryWrites=true&w=majority&appName=David"
ALOC_TOKEN = "QB-a426946c75c1e80cb2ef,ALOC-49d828d7860d4fe4a4bc,ALOC-10c7a23ffb79a58ba518,ALOC-20fb18ea4b4a8b4d6cdf,ALOC-f860074d17d703f22857"
RESEND_API_KEY = "re_JyUyveie_J5uQTLeH4NhvmUAhYbddjm4q"
ADMIN_EMAIL = "infocheelee01@gmail.com"
RESEND_FROM = "ExamPro <noreply@jamb.anita.name.ng>"
